html {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  margin: 0 auto;
  font-style: normal;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
